:root {
  --background-image: url("../images/cover-image.png");
  --accent-color: #ff0070;
  --text-color: #000;
  --title-color: #ff0070;
  --decor-bg-color: #ff0070;
  --title-shadow-color: #ff0070;
  --main-bg-color: #000028;
  --content-text-color: #000;
  --advice-text-color: #000;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
}
